<!DOCTYPE html>
<html ng-app="TravelApp">
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Flights Tonight</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "#{current_user.username}", profiles_path%></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>          
              <li class="active"><a ui-sref="sign-up">Sign Up</a></li>
              <li><a ui-sref="login">Login</ui></li>
            <% end %>
          </ul>
        </ul>
      </div>
    </nav>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <ui-view></ui-view>
    <%= yield %>
  </body>
</html>
